{% extends 'users/detail.html' %}
{% block user_details %}
  <div class="col-sm-6">
    <ul class="list-group" id="messages">

      {% for message in messages %}

        <li class="list-group-item">
          <a href="/messages/{{ message.id }}" class="message-link"/>

          <a href="/users/{{ user.id }}">
            <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
          </a>

          <div class="message-area">
            <a href="/users/{{ user.id }}">@{{ user.username }} @{{user.bio}}
              @{{user.location}}</a>
            <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
            <p>{{ message.text }}</p>
              <!-- <p>{{user.bio}}</p>
              <p>{{user.location}}</p> -->
          </div>
        </li>

      {% endfor %}

      <div>
        <a href="/users/{{ user.id }}">@{{ user.bio }}</a>
          </div>
        <div>
          <a href="/users/{{ user.id }}">@{{ user.location }}</a>
        </div>
    </ul>
  </div>
  <h4>
    {% for liked in liked_list%}
    
    <li>{{liked.username}}
    {{liked.text}}
    {{liked.id}}</li>
     {%endfor%}
    </h4>

{% endblock %}